<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brain Rush - Registrarse</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
</head>
<body>
  <img class="background-img" src="/static/img/ChatGPT Image Aug 19, 2025, 05_52_47 PM.png" alt="Brain RUSH Logo">
  <div class="register-container" id="register-content">
    <!-- El contenido se genera dinámicamente -->
  </div>
  <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
</body>
</html>
