{% extends 'Maestra.html' %}
{% block title %}Unirse a una Sala{% endblock %}
{% block content %}
<div class="join-room-container">
    <h2>UNIRSE A UNA SALA</h2>
    <form id="form-unirse">
        <input type="text" id="codigo_sala" placeholder="Codigo de la sala" required>
        <div class="btn-group">
            <button type="submit" class="btn btn-login" id="unirseSalaBtn">Unirse a Sala</button>
        </div>
    </form> <p></p>
    <form action="{{ url_for('crear_sala') }}">
      <div class="btn-group">
        <button type="submit" class="btn btn-create">Crear Sala</button>
      </div>
    </form>
</div>
<script src="/static/js/unirse_validaciones.js"></script>
<script>
document.getElementById('form-unirse').onsubmit = function(e) {
    if (!validarCodigoSala()) {
        e.preventDefault();
    }
};
</script>
{% endblock %}
